header
{
    height: 200vh;
    background-image: url(images/im-in.png);
    background-size: 1600px 1600px;
    background-repeat: no-repeat;
    display: flex;
    border: 2px solid purple;
}
body
{
    margin: 0;
    border: 2px solid purple;
}

header img{
    height: 100vh;
    width: 100vw;
}
.name
{
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0px;
    height: auto;
    width: auto;
    color: white;
    font-size: 40px;
    letter-spacing: 15px;
    font-family: sans-serif;
    font-weight: bold;
    transition: .1s;
}
.name span:hover
{
    transform: scale(1.5);
    color: blue;
}
.video
{
    align-items: center;
    margin: auto;
}
.social-links
{
    height: auto;
    display: flex;

    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 0px;
    margin: 10px;
    padding: 10px;
}
.social-links a
{
    color: white;
    margin: 0 10px 0 10px;
    text-decoration: none;
    transition: .1s;
}
.social-links a:hover
{
    transform: scale(1.5)
}


.menu
{
    display: flex;
    text-align: right;
    padding: 20px;
    position: absolute;
    top: 20px;
    right: 0;
    color: white;
}
.menu ul li
{
    
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin: 30px;
    text-decoration: none;
    font-size: 30px;
    list-style-type: none;
    font-family: sans-serif;
    transition: .1s;
}

.menu ul li:hover
{
  transform: scale(1.5)
}
main
{
    
    height: 100vh;
    align-items: center;

}
.music
{
    height: auto;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    background: gray;
}
.album-cover
{
    width: 30vw;
    margin: 50px;
}
.album-cover1
{
    width: 30vw;
    margin: 50px;
    height: auto;
    background-image: url(images/im-in.png);
    background-size: contain;
    height: 450px;

}
.album-cover2
{
    width: 30vw;
    margin: 50px;
    height: auto;
    background-image: url(images/bali\ ooooffffiiical\ X_bali\ official\ 2.JPG);
    background-size: contain;
    height: 450px;

}
.album-cover3
{
    width: 30vw;
    margin: 50px;
    height: auto;
    background-image: url(images/circles-artwork.png);
    background-size: contain;
    height: 450px;

}
.album-cover4
{
    width: 30vw;
    margin: 50px;
    height: auto;
    background-image: url(images/its-okay-with-me.jpg);
    background-size: contain;
    height: 450px;

}
.album-cover5
{
    width: 30vw;
    margin: 50px;
    height: auto;
    background-image: url(images/with-you.jpg);
    background-size: contain;
    height: 450px;

}
.album-cover6
{
    width: 30vw;
    margin: 50px;
    height: auto;
    background-image: url(images/feeling-like-this.jpg);
    background-size: contain;
    background-repeat: none;
    height: 450px;

}

.hidden
{
    font-size: 20px;
    color:white;
    text-align: center;
    position: absolute;
    margin: 13%;
    z-index: 100;
    transition: .5s;
    visibility: hidden;
}
.album-cover1:hover .hidden
{
    color: white;
    visibility: visible;

}
.album-cover img
{
    width: 100%;
    transition: .5s;
}

.album-cover1:hover, .album-cover2:hover, .album-cover3:hover, .album-cover4:hover, .album-cover5:hover, .album-cover6:hover
{
    opacity: .3;
}
.table-header
{
    font-size: 80px;
    letter-spacing: 40px;
    color: lightgray;
    text-decoration: line-through;
    overflow: hidden;

    
}
.table-header h1{
    border: 2px solid gray;
    margin: 0;
    margin-bottom: -45px;
}

